.label-container {
    border: 1px dashed var(--bs-border-color);
    padding: 8px;
    width: 300px; /* Largura da etiqueta */
    height: 150px; /* Altura da etiqueta */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bs-body-bg);
    box-sizing: border-box;
    overflow: hidden;
}

.label-content {
    font-family: 'Arial', sans-serif;
}

.label-product-name {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
}

.label-variation {
    font-size: 12px;
    margin: 0 0 5px 0;
    color: var(--bs-secondary-color);
}

.label-price {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: var(--bs-body-color);
}

.label-barcode {
    width: 100%;
}
