.theme-toggle-btn {
  .icon-wrapper {
    position: relative;
    width: 24px;
    height: 24px;
    
    .sun, .moon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.5s cubic-bezier(0.55, 0.06, 0.68, 0.19), opacity 0.5s ease, color 0.3s ease;
    }
  }
}

// Light theme styles
[data-bs-theme="light"] .theme-toggle-btn {
  .icon-wrapper {
    .sun {
      transform: rotate(0deg) scale(1);
      opacity: 1;
      color: var(--color-warning);
    }
    .moon {
      transform: rotate(90deg) scale(0);
      opacity: 0;
    }
  }
}

// Dark theme styles
[data-bs-theme="dark"] .theme-toggle-btn {
  .icon-wrapper {
    .sun {
      transform: rotate(-90deg) scale(0);
      opacity: 0;
    }
    .moon {
      transform: rotate(0deg) scale(1);
      opacity: 1;
      color: var(--color-info);
    }
  }
}
