.skeleton-container {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.list-skeleton-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;

  .skeleton-text {
    flex-grow: 1;
  }
}

.chart-skeleton {
  display: flex;
  align-items: center;
  justify-content: center;

  .bar-chart-skeleton {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    height: 100%;
  }
}

.kpi-skeleton-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  height: 100%;
  align-content: center;
}

.kpi-skeleton-card {
  display: flex;
  align-items: center;
  gap: 20px;
}
